<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng thời trang Bách Khoa</title>
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <%- include('layouts/navbarAdmin'); -%>
    <h2 style="color: red; text-align: center;">THÔNG TIN KHÁCH HÀNG</h2>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <% if(profileAccount.image == null) {%>
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                   <% } %>
                                   <% if(profileAccount.image != null) {%>
                                    <img src="<%= profileAccount.image %>" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <% } %>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"> <%= profileAccount.username %></h2>
                                    
                                    <div class="float-left">
                                        <a href="/admin/account/profile/<%= profileAccount._id %>/7" class="btn btn-outline-danger my-4">Khoá 7 ngày</a>
                                        <a href="/admin/account/profile/<%= profileAccount._id %>/30" class="btn btn-outline-danger my-4">Khoá 30 ngày</a>
                                        <a href="/admin/account/profile/<%= profileAccount._id %>/-1" class="btn btn-outline-danger my-4">Khoá vĩnh viễn</a>
                                        <a href="/admin/account/profile/<%= profileAccount._id %>/unlock" class="btn btn-outline-danger my-4">Mở khóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Thông tin cá nhân</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Lịch sử mua hàng</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Tên</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= profileAccount.name %>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Ngày sinh</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= profileAccount.birthday.toDateString() %>
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Số điện thoại</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= profileAccount.phonenumber %>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= profileAccount.address %>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Bị khóa</label>
                                            </div>
                                            <% if( profileAccount.lock ==0 ) { %>
                                            <div class="col-md-8 col-6">
                                                Không
                                            </div>
                                           
                                            <%} else if( profileAccount.lock ==-1 ) { %>
                                                <div class="col-md-8 col-6">
                                                    Tài khoản bị khóa vĩnh viễn
                                                </div>
                                                <%} else  { %>
                                                    <% var date=profileAccount.TimeEndLock %>
                                               <% var  d=date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'  '+ date.getHours()+':'+date.getMinutes()+':'+date.getSeconds() %>
                                                    <div class="col-md-8 col-6">
                                                        Tài khoản bị khóa đến <%= d  %>
                                                    </div>
                                                    <% }  %>
                                            
                                        </div>
                                        <hr />

                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                        <table class="table table-hover">
                                            <thead class="thead-dark">
                                              <tr>
                                                <th style="width: 20%">Mã đơn hàng</th>
                                                <th style="width: 30%">Thời gian</th>
                                                <th style="width: 20%">Đơn giá</th>
                                                <th style="width: 20%">Trạng thái</th>
                                                <th style="width: 10%"></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0;i< orders.length;i++) {%>
                                              <tr>
                                                <th scope="row"><%= String((orders[i].code)).padStart(5, '0') %></th>
                                                <% var date=orders[i].createAt %>
                                               <% var d=date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+'  '+ date.getHours()+':'+date.getMinutes()+':'+date.getSeconds() %>
                                                <td><%= d %></td>
                                                <td><%= orders[i].totalMoney %></td>
                                                <td><%= orders[i].status %></td>
                                                <td>
                                                    <a href="/admin/order/detail/<%= orders[i]._id %>">
                                                        <span class="badge badge-success" style="width: 80%; height: 80%;">
                                                            <i class="ti-marker-alt" style="font-size: 16px;"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                              </tr>
                                              <% } %>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/admin/account/profile/<%= profileAccount._id %>/back" class="btn btn-outline-danger my-4">Quay lại</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footer'); -%>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                                                      
</body>
</html>